:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
/*******************************************
********** ССЫЛКИ *************************
*******************************************/
a:link {
  color: #1476bb;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1414bb;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b45514;
}
img {
  height: auto;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 45px;
  margin-right: auto;
  margin-left: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
}

.container {
  width: 100%;
}
.nav {
  display: inline-block;
}
body {
  position: relative;
}
.nav__mobile-menu {
  position: absolute;
  top: 16px;
  right: 25px;
  border: 0;
  background-color: transparent;
  font-size: 15px;
  width: 10px;
  line-height: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 5px;
}
.nav__mobile-menu::after {
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  display: block;
  content: "\2261";
  text-indent: 0;
  cursor: pointer;
}
.menu-dropdawn {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}
.nav__button {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

.menu .is open .menu-dropdawn {
  display: block;
}

.site-nav__item--current {
  color: tomato;
}
